KEYCLOAK_PORT=8090
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin
HOME_BANKING_BFF_OAUTH_CLIENT_SECRET=local-bff-secret
ONBOARDING_INTERNAL_OAUTH_CLIENT_SECRET=local-onboarding-secret
ONBOARDING_BFF_INTERNAL_OAUTH_CLIENT_SECRET=local-onboarding-bff-secret
HOME_BANKING_INTERNAL_OAUTH_CLIENT_SECRET=local-home-banking-service-secret
KEYCLOAK_SMTP_HOST=smtp.gmail.com
KEYCLOAK_SMTP_PORT=587
KEYCLOAK_SMTP_FROM=no-reply@nerva.local
KEYCLOAK_SMTP_USERNAME=
KEYCLOAK_SMTP_PASSWORD=
