CUSTOMER_DB_PORT=3307
CUSTOMER_DB_NAME=customer_db
CUSTOMER_DB_USERNAME=customer_user
CUSTOMER_DB_PASSWORD=customer_password
CUSTOMER_DB_ROOT_PASSWORD=root_password

ACCOUNT_DB_PORT=3308
ACCOUNT_DB_NAME=account_db
ACCOUNT_DB_USERNAME=account_user
ACCOUNT_DB_PASSWORD=account_password
ACCOUNT_DB_ROOT_PASSWORD=root_password

IDENTITY_DB_PORT=3309
IDENTITY_DB_NAME=identity_db
IDENTITY_DB_USERNAME=identity_user
IDENTITY_DB_PASSWORD=identity_password
IDENTITY_DB_ROOT_PASSWORD=root_password

NOTIFICATION_DB_PORT=3310
NOTIFICATION_DB_NAME=notification_db
NOTIFICATION_DB_USERNAME=notification_user
NOTIFICATION_DB_PASSWORD=notification_password
NOTIFICATION_DB_ROOT_PASSWORD=root_password

DOCUMENT_DB_PORT=3311
DOCUMENT_DB_NAME=document_db
DOCUMENT_DB_USERNAME=document_user
DOCUMENT_DB_PASSWORD=document_password
DOCUMENT_DB_ROOT_PASSWORD=root_password
