DOCUMENT_SERVICE_PORT=8084

DOCUMENT_DB_URL=jdbc:mysql://localhost:3311/document_db
DOCUMENT_DB_USERNAME=document_user
DOCUMENT_DB_PASSWORD=document_password

DOCUMENT_UPLOAD_MAX_SIZE_BYTES=10485760
DOCUMENT_UPLOAD_MAX_REQUEST_SIZE_BYTES=11534336
DOCUMENT_UPLOAD_ALLOWED_CONTENT_TYPES=image/jpeg,image/png,application/pdf

DOCUMENT_STORAGE_PROVIDER=minio
DOCUMENT_STORAGE_ENDPOINT=http://localhost:9000
DOCUMENT_STORAGE_BUCKET=banking-documents
DOCUMENT_STORAGE_ACCESS_KEY=nerva_minio
DOCUMENT_STORAGE_SECRET_KEY=nerva_minio_password
DOCUMENT_STORAGE_REGION=us-east-1
DOCUMENT_STORAGE_PATH_STYLE_ACCESS=true

PUBLIC_DOCS_ENABLED=true
KEYCLOAK_ISSUER_URI=http://localhost:8090/realms/banking-ecosystem
EUREKA_SERVER_URL=http://localhost:8761/eureka/
